# Python virtual environment
.venv/
venv/
env/
runs/
checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Archives
*.zip

# Logs
*.log
*.log.*
logs/
